@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.error {
    max-width: 50%;
    height: fit-content;
    padding: 2%;
    font-size: 32px;
    border-radius: 10px;
    font-family: 'Silkscreen', cursive;
}