@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.joke {
    max-width: 50%;
    height: fit-content;
    padding: 2%;
    border: 1px solid grey;
    font-size: 2.3rem;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
}

@media(max-width:1000px) {
    .joke {
        max-width: 70%;
    }
}

@media(max-width:475px) {
    .joke {
        max-width: 90%;
        margin-left: 1%;
    }
}