.searchBar {
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.searchInput {
    min-width: 170%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: 1.1rem;
}

.searchInput:focus-visible {
    outline: none;
}

@media(max-width:475px) {
    .searchInput {
        font-size: 1.09rem;
        margin-left: 4%;
    }
}

@media(max-width:450px) {
    .searchInput {
        font-size: 1rem;
    }
}

@media(max-width:400px) {
    .searchInput {
        font-size: 0.9rem;
    }
}

@media(max-width:372px) {
    .searchInput {
        font-size: 0.79rem;
    }
}